.banner {
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    height: 90vh;
}
  
.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 44px;
    letter-spacing: 7px;
    font-weight: bold;
    font-family: $primary-font;
}
  
.banner p {
    font-size: 15px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: 0;
}

.btn-modheel {
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px 20px;
    color: white;
    background-color: #c19e5a;
    box-shadow: 3px 3px 3px #c19e5a
    (255, 217, 94);
    transition: all .3s ease-in-out;
}

.btn-modheelo {
    border: 1px solid #c19e5a;
    border-radius: 10px;
    padding: 8px 20px;
    color: #c19e5a;
    background-color: white;
    box-shadow: 3px 3px 3px #c19e5a(255, 217, 94);
    transition: all .3s ease-in-out;
    display: grid;
    flex-direction: column;
    justify-content: start;
}
  
.title11 {
    color: #c19e5a !important;
    padding-bottom: 16px;
    margin-bottom: auto;
    text-align: center;
}

.title12 {
    color: #c19e5a !important;
    padding-bottom: 35px;
    margin-bottom: auto;
    font-family: $primary-font;
    text-emphasis-color: #0c0b09;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;
}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.link p {
    text-align: center;
}

.info-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.title1 {
    margin-top: -18px;
}

.welcome {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 48px;
    text-align: center;
}

.container-bottom {
    display: flex;
}

.img-down {
    height: 500px;
    width: 480px;
}

.mcard {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}

.video-container {
    height: 90vh;
    position: relative; /* Added for better positioning */
    overflow: hidden; /* Ensures content doesn't overflow */
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1; /* Places the video behind the content */
}

.banner-titles {
    position: relative; /* Keeps titles above the video */
    z-index: 1;
    padding-top: 200px;
}

.modheel-text {
    margin-bottom: 0 !important;
    text-align: justify;
    padding: 0 150px;
    color: #623e2a !important;
}

.video-container2{
    padding: 48px;
    width: 25%;
    height: auto;
}


.card-soustitre{
    padding: 25px 150px;
    color: #c19e5a;
    text-decoration: underline;
    padding-bottom: 5px;
}

.card-corp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    .video-container2{
        width: 500px;
        height: 450px;
    }
}