  <div class="social-contact">
    <h3>Get Social</h3>
    <div class="social-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <p>Tag us in your photos!</p>

    <div class="address">
      <h3>Address</h3>
      <ul>
        <li>042 711889</li>
        <li>info@modheel.ae</li>
        <li>Al-Gaizi Plaza 4th Floor,</li>
        <li>Office No. 42, Al-Garhoud, Dubai</li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <p>Copyright © 2024 Modheel | Powered by Modheel</p>
    <div class="footer-links">
      <a href="#">Refund and Return Policy</a>
      <a href="#">Terms and Conditions</a>
      <a href="#">Privacy Policy</a>
    </div>
  </footer>