<div class="event-container">
    <div class="event-card">
        <%= image_tag "Albarsha.webp", class:"card-img"%>
        <div class="adress">
            <i class="fa-solid fa-location-dot"></i>
            <p> Al Barsha Mall Dubai</p>
        </div>
        <h1 class="title11">Holistic Health: Integrating Mind, Body, and Spirit</h1>
        <p>Holistic Health: Integrating Mind, Body, and Spirit emphasizes a comprehensive approach to wellness that considers</p>
         <div class="date">
            <i class="fa-solid fa-calendar-days"></i></i>
            <p> 20/09/2024</p>
        </div>
    </div>
</div>