<div class="banner" style="background-image: url(<%=>);">
  <div class="container">
  <div class="title1">
  	<p class="welcome">WELCOME TO</p>
    <h1 class="title11">MODHEEL EVENT MANAGEMENT</h1>
	<h2 class="title12">Where Memories Begin</h2>
	</div>
	<div class="links">
		<div class="link">
			<a class="btn-modheel" href="/services">Our services</a>
			<div class="gold-info">
				<p class="info-title"><b>Our Events</b></p>
        <%= link_to "Our Events", events_path, class: "btn btn-link" >
			</div>
		</div>
		<div class="link">
			<div class="gold-info">
				<p class="info-title"><b>contact us</b></p>

			</div>
		</div>
		<div class="link">
			<a class="btn-modheel" href="/events">Our events</a>
			<div class="gold-info">
			<p class="info-title"><b>Our Services</b></p>
		</div>
	</div>
</div>
<div class="banner" style="();">
	<div class="container">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title">About Us</h1>
				<h2 class="card-subtitle">Who we are</h2>
				<p class="card-text">With 15 years of experience in Event Management across France, Tunisia, and Algeria under the name Orients Events, Modheel brings unparalleled expertise to Dubai. We specialize in handling every aspect of your event, from planning and innovative marketing strategies to flawless execution. We is dedicated to transforming your vision into reality, whether it’s a gathering, wedding, birthday celebration, or holiday party.
				</p>
			</div>
		</div>
		<img src="" class="container-img" alt="who we are">
	</div>
</div>
<div class="banner" style="();">
