.event-cards {
  display: flex;
  flex-flow: row wrap;


  .card-item {
    display: flex;
    width: 25%;
    padding: 0.5em;


    .card-body {
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      background-color: #F8FFF8;
      border-radius: 3px;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);


      p {
        flex: 1 0 auto;
        margin: 0;
      }

      .card-title {

        font-size: 1.5em;
        color: #333;
        text-align: center;
        justify-content: center;
        padding: 10px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        margin: 10px;
      }

      .event-img {
        width: 100%;
        height: 300px;
        border-radius: 3px 3px 0 0;
        &:hover {
          opacity: 0.8;
        }
      }
      .card-title,
      .card-text,
      .card-footer {
        padding: 1em 1em 0;
      }

      .card-date {
        text-align: right;
        font-family: 'Georgia', serif;
        font-size: 1em;
        color: #333;
        padding: 10px;
        text-decoration-color: blue;
      }
      .card-footer {
        margin-bottom: 1em;

        .btn-event {
          display:inline-block;
          margin: 1rem;
          padding: .75rem 1.25rem;
          font: 700 1rem/1.2 Verdana, sans-serif;
          letter-spacing: .05rem;
          text-decoration: none;
          text-shadow: 0 1px 0 rgba(77,77,77,.5);
          background: #a8a34c;
          border-radius: .35rem;
          box-shadow: 0 0 1px 1px rgba(77,77,77,.5);
          color: floralwhite;
          cursor: pointer;
          transition: .5s;
          &:hover {
            background: #ADD8E6;
            color: #333;
          }
        }
      }
    }
  }
}
