.container {
  padding-inline-start: 5;
}

h1, h5 {
  padding: 0.5rem;
  text-align: center;
}


.events-container {
  padding-inline-start: 5;
  background-image:  url(asset_path('bg.png'));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #C19E5A;
    font-size: 2em;
    padding-top: 10px;
  }
}

.event-container {
  padding-inline-start: 5;
  background-image:  url(asset_path('bg.png'));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
